<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	
	RewriteRule ^(.*)$ index.php/$1 [QSA,PT]
	RewriteRule ^index.php/news\-([0-9]+)\.html$ index.php/News/detail?id=$1 [L,NC]

	#301跳转开始
	#RewriteCond %{HTTP_HOST} ^xwta.net [NC]
	#RewriteRule ^(.*)$ http://www.xwta.net/$1 [R=301,L]
	#301跳转结束

</IfModule>

<IfModule mod_php5.c>
	php_value post_max_size       100M
	php_value upload_max_filesize 100M
	php_value max_file_uploads    20
</IfModule>
